services:
 frontend:
  build:
   context: .
   dockerfile: ./frontend/frontend.dockerfile
  volumes:
   - ./frontend:/app
   - /app/node_modules
  ports:
   - 3000:5173
  command: sh -c "npm run dev"
  # depends_on:
  #  - backend-api

 backend-api:
  build:
   context: .
   dockerfile: ./backend/backend.dockerfile
  volumes: 
   - ./backend:/app
   - ./backend/data:/data
   - /app/__pycache__
  ports:
   - 3001:3001
  command: bash -c "uvicorn app:app --host 0.0.0.0 --port 3001 --reload"