services:
 backend-api:
  image: python:3.10.19-slim-trixie
  volumes: 
   - ./backend-src:/app
  ports:
   - 3000:3000
  command: bash -c "cd /app && pip install --no-cache-dir -r requirements.txt && uvicorn app:app --host 0.0.0.0 --port 3000"