name: development
on:
  push:
    branches: [ dev ]
jobs:
  backend:
    runs-on: ubuntu-latest
    defaults:
     run:
      working-directory: backend
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v3
      - run: pip install -r requirements.txt
      - run: "pytest"
  frontend:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v5
     - uses: actions/setup-node@v3
       with:
        node-version: 20
     - run: npm install --prefix frontend
     - run: npm test --prefix frontend
     - run: npm install eslint-plugin-react --save-dev --prefix frontend
     - run: npm install --save-dev @babel/eslint-parser --prefix frontend
     - run: npm run lint --prefix frontend